{% extends 'base.html' %}

{% block navigation %}
    {% include 'nav.html' %}
{% endblock navigation %}

{% block content %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quaerat pariatur, vel dolore ullam mollitia neque amet sed adipisci laboriosam dolorum in quae qui, quas voluptatibus sunt ad quos eveniet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quaerat pariatur, vel dolore ullam mollitia neque amet sed adipisci laboriosam dolorum in quae qui, quas voluptatibus sunt ad quos eveniet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quaerat pariatur, vel dolore ullam mollitia neque amet sed adipisci laboriosam dolorum in quae qui, quas voluptatibus sunt ad quos eveniet.</p>
{% endblock content %}